# URL de conexão com o banco de dados. 
# Atualmente usando SQLite local, mas facilmente substituível por PostgreSQL
DATABASE_URL=sqlite:///./bts_recommender.db

# Configurações de segurança
SECRET_KEY=chave_secreta_aqui